In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
hd = pd.read_csv("https://raw.githubusercontent.com/CongLiu-CN/zero-to-mastery-ml/master/data/heart-disease.csv")
hd.head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1

In [3]:
X = hd.copy().drop(columns=['target'])
y = hd['target']

In [4]:
X.nunique()

age          41
sex           2
cp            4
trestbps     49
chol        152
fbs           2
restecg       3
thalach      91
exang         2
oldpeak      40
slope         3
ca            5
thal          4
dtype: int64

In [5]:
# X.iloc[0].values
y.nunique()

2

In [6]:
from sklearn.model_selection import train_test_split
np.random.seed(42)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5)

In [7]:
X_train.shape
X_train.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
count,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000
mean,54.496689,0.682119,1.066225,132.033113,244.529801,0.158940,0.509934,150.629139,0.324503,0.976821,1.377483,0.602649,2.317881
std,8.904586,0.467202,1.056213,17.909929,56.332206,0.366837,0.514685,23.466463,0.469747,1.085998,0.640226,0.917093,0.604107
min,34.000000,0.000000,0.000000,94.000000,131.000000,0.000000,0.000000,88.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.500000,0.000000,0.000000,120.000000,208.000000,0.000000,0.000000,136.500000,0.000000,0.000000,1.000000,0.000000,2.000000
50%,54.000000,1.000000,1.000000,130.000000,239.000000,0.000000,1.000000,155.000000,0.000000,0.800000,1.000000,0.000000,2.000000
75%,61.000000,1.000000,2.000000,140.000000,270.000000,0.000000,1.000000,168.000000,1.000000,1.600000,2.000000,1.000000,3.000000
max,77.000000,1.000000,3.000000,192.000000,564.000000,1.000000,2.000000,195.000000,1.000000,5.600000,2.000000,3.000000,3.000000

In [8]:
from sklearn.ensemble import RandomForestClassifier
cls_rf = RandomForestClassifier()

cls_rf.fit(X_train, y_train)

RandomForestClassifier()

In [9]:
y_preds = cls_rf.predict(X_test)

In [10]:
print(cls_rf.score(X_test, y_test))
from sklearn.metrics import confusion_matrix

confusion_matrix(y_preds, y_test)

0.8289473684210527

array([[58, 14],
       [12, 68]], dtype=int64)

In [11]:
from sklearn.svm import LinearSVC, SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression

np.random.seed(42)

models = {"LinearSVC": LinearSVC(),
          "KNN": KNeighborsClassifier(),
          "SVC": SVC(),
          "LogisticRegression": LogisticRegression(),
          "RandomForestClassifier": RandomForestClassifier()}

results = {}

for model_name, model in models.items():
    model.fit(X_train, y_train)
    results[model_name] = model.score(X_test, y_test)
    
results

C:\Users\E30794\.conda\envs\python37\lib\site-packages\sklearn\svm\_base.py:1208: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  ConvergenceWarning,
C:\Users\E30794\.conda\envs\python37\lib\site-packages\sklearn\linear_model\_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

{'LinearSVC': 0.75,
 'KNN': 0.6447368421052632,
 'SVC': 0.6644736842105263,
 'LogisticRegression': 0.8421052631578947,
 'RandomForestClassifier': 0.8092105263157895}

In [12]:
import torch
import torch.nn as nn
from torch.utils.data import Dataset, TensorDataset, DataLoader

C:\Users\E30794\.conda\envs\python37\lib\site-packages\tqdm\auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [13]:
class pdDataset(Dataset):
    def __init__(self, df, lbl, transform = None, train=True):
        super().__init__()
        self.df = df.copy()
        self.lbl = lbl.copy()
        if transform is not None:
            for k in self.df.columns.values:
                if k in transforms:
                    if train:
                        self.df[k] = transform[k].fit_transform(self.df[k].values.reshape((-1,1))).squeeze()
                    else:
                        self.df[k] = transform[k].transform(self.df[k].values.reshape((-1,1))).squeeze()
        
    def __len__(self):
        return self.df.shape[0]
    def __getitem__(self,index):
        x = self.df.iloc[index].values.astype(np.float32)
        y = self.lbl.iloc[index]
        
        return x, y

In [14]:
from sklearn.preprocessing import StandardScaler, RobustScaler

transforms = dict()
for k in X_train.columns.values:
    if X_train[k].nunique() > 10:
        transforms[k] = RobustScaler()
        
print(transforms)

{'age': RobustScaler(), 'trestbps': RobustScaler(), 'chol': RobustScaler(), 'thalach': RobustScaler(), 'oldpeak': RobustScaler()}

In [15]:
train_dataset = pdDataset(X_train, y_train, transforms, train=True)
test_dataset = pdDataset(X_test, y_test, transforms, train=False)
train_dataloader = DataLoader(train_dataset, batch_size=32)
test_dataloader = DataLoader(test_dataset, batch_size=32)

In [16]:
for k, v in transforms.items():
    # print(k, v.mean_, v.var_)
    print(k, v.center_, v.scale_)

age [54.] [12.5]
trestbps [130.] [20.]
chol [239.] [62.]
thalach [155.] [31.5]
oldpeak [0.8] [1.6]

In [17]:
class fcmodel(nn.Module):
    def __init__(self, dim_in, hidden_size=64, n_layers = 4):
        super().__init__()
        layers = [nn.Linear(dim_in, hidden_size), nn.ReLU()]
        for _ in range(n_layers):
            layers.append(nn.Linear(hidden_size, hidden_size))
            layers.append(nn.ReLU())
        layers.append(nn.Linear(hidden_size, 1))
        layers.append(nn.Sigmoid())
        
        self.layers = nn.Sequential(*layers)
        
    def forward(self, x):
        return self.layers(x)

In [18]:
from tqdm import tqdm

model = fcmodel(X_train.shape[1])
print(model)
optimizer = torch.optim.Adam(model.parameters(), lr=0.001)
criterion = nn.BCELoss()
for epoch in tqdm(range(100)):
    for batch in train_dataloader:
        optimizer.zero_grad()
        x, y = batch
        y_pred = model(x.float())
        loss = criterion(y_pred.squeeze(1), y.float())
        loss.backward()
        optimizer.step()

fcmodel(
  (layers): Sequential(
    (0): Linear(in_features=13, out_features=64, bias=True)
    (1): ReLU()
    (2): Linear(in_features=64, out_features=64, bias=True)
    (3): ReLU()
    (4): Linear(in_features=64, out_features=64, bias=True)
    (5): ReLU()
    (6): Linear(in_features=64, out_features=64, bias=True)
    (7): ReLU()
    (8): Linear(in_features=64, out_features=64, bias=True)
    (9): ReLU()
    (10): Linear(in_features=64, out_features=1, bias=True)
    (11): Sigmoid()
  )
)

100%|████████████████████████████████████████████████████████████████████████████████| 100/100 [00:02<00:00, 36.73it/s]

In [19]:
y_pred = []
ytest = []
with torch.no_grad():
    for batch in tqdm(test_dataloader):
        x, y = batch
        pred = model(x).squeeze(1)
        y_pred.append((pred > 0.5).float())
        ytest.append(y)

100%|███████████████████████████████████████████████████████████████████████████████████| 5/5 [00:00<00:00, 250.14it/s]

In [20]:
from sklearn.metrics import confusion_matrix, precision_score, recall_score, classification_report

In [21]:
y_pred = torch.cat(y_pred, 0).to('cpu').numpy()
ytest = torch.cat(ytest, 0).to('cpu').numpy()
cm = confusion_matrix(y_pred, ytest)
print(cm)

[[59 18]
 [11 64]]

In [22]:
print(precision_score(y_pred, ytest))
print(recall_score(y_pred, ytest))
print(classification_report(y_pred,ytest))

0.7804878048780488
0.8533333333333334
              precision    recall  f1-score   support

         0.0       0.84      0.77      0.80        77
         1.0       0.78      0.85      0.82        75

    accuracy                           0.81       152
   macro avg       0.81      0.81      0.81       152
weighted avg       0.81      0.81      0.81       152

In [23]:
acc = np.sum(y_pred==ytest)/ len(ytest)
print(acc)

0.8092105263157895

In [24]:
np.sum(np.diagonal(cm))/np.sum(cm)

0.8092105263157895